<div class="m-8">
    <div class="notification is-danger bg-red-800 px-3 py-2 rounded text-white text-center w-fit" [ngClass]="{'active': isNotifActive}">
        <button class="delete"></button>
        {{notificationMessage}}
    </div>
    <header class="bg-green-200 text-green-900 p-6">
        <div class="">
            <h1 class="text-3xl text-center font-serif">Je mets dans ma valise</h1>
            <form class="flex flex-col gap-4" [formGroup]="newItemForm" (ngSubmit)="addItemToList()">
                <div class="flex gap-6">
                    <div class="flex flex-col gap-0.5 items-start justify-start basis-10/12">
                        <label for="" class="label">Objet</label>
                        <div class="w-full">
                            <input formControlName="newItemName" type="text" name="label" class="py-2 px-3 text-green-800 border-2 border-solid border-green-900 w-full rounded" id="input-object">
                        </div>
                    </div>
                    <div class="flex flex-col gap-0.5 items-start justify-start basis-2/12">
                        <label for="" class="label">Valise</label>
                        <div class="select w-full">
                            <select formControlName="newItemPlace" name="valise" id="select-valise" class="valise py-2 px-3 text-green-800 border-2 border-solid border-green-900 w-full rounded">
                                <option value="soute">De soute</option>
                                <option value="cabine">De cabine</option>
                                <option value="main">À main</option>
                            </select>
                        </div>
                    </div>
                </div><!-- .columns-->
                <button class="bg-green-50 py-2 px-3 text-green-800 rounded w-fit self-center" id="add-object-button">Ajouter</button>
            </form>
        </div>
    </header>
    <main class="section">
        <h2 class="title">État</h2>
        <!-- tabstitle -->
        <div class="tabs is-boxed">
            <ul>
                <li class="valise-tab" data-tab="cabine" (click)="activeTab('cabine')" [ngClass]="{'is-active': activeTabName === 'cabine'}"><a>Valise de cabine&nbsp;(<span id="reste-cabine" class="reste">{{itemNumbers.cabine}}</span>)</a></li>
                <li class="valise-tab" data-tab="soute" (click)="activeTab('soute')" [ngClass]="{'is-active': activeTabName === 'soute'}"><a>Valise de soute&nbsp;(<span id="reste-soute" class="reste">{{itemNumbers.soute}}</span>)</a></li>
                <li class="valise-tab" data-tab="main" (click)="activeTab('main')" [ngClass]="{'is-active': activeTabName === 'main'}"><a>Sac à main&nbsp;(<span id="reste-main" class="reste">{{itemNumbers.main}}</span>)</a></li>
            </ul>
        </div>
        <!-- end tabstitle -->
        <!-- tabscontent -->
        <!-- tabcontent 1 -->
        <div class="tabs-contents">
            <app-valise-tab 
            *ngFor="let content of valiseItems | keyvalue; index as id"
            [valiseName]="content.key"
            [valiseContent]="content.value"
            [activeTabName]="activeTabName"
            (checkItemEmit)="checkItem($event)"
            (deleteItemEmit)="deleteItem($event)"
            >
            </app-valise-tab>
        </div>
    </main>
    <footer class="footer hero"><p class="content has-text-centered">© P. Charlier - 2023</p></footer>
</div>